.App {
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
  
  /* padding: 70px; */
}
.loading {
  text-align: center;
  margin-top: 150px;
  font-size: 35px;
}

.title{
  color: brown;
  font-size: 25px;
  /* margin-left: 20px; */
  text-align: center;
}
.movieslist{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
}
.box{
  border-radius: 3px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}